<h3>FlexLayout</h3>

<div class="width: 100%">
    <Row Style="@(new {MarginBottom="16"})">
        <Col Flex="@("100px")" Style="@(new {Background="#6aa1ff"})">
            <div>100px</div>
        </Col>
        <Col Flex="@("auto")" Style="@(new {Background="#2d6dff"})">
            <div>100px</div>
        </Col>
    </Row>
    <Row Style="@(new {MarginBottom="16"})">
        <Col Flex="@("100px")" Style="@(new {Background="#6aa1ff"})">
            <div>100px</div>
        </Col>
        <Col Flex="@("auto")" Style="@(new {Background="#2d6dff"})">
            <div>auto</div>
        </Col>
        <Col Flex="@("100px")" Style="@(new {Background="#6aa1ff"})">
            <div>100px</div>
        </Col>
    </Row>
    <Row Style="@(new {MarginBottom="16"})">
        <Col Flex="3" Style="@(new {Background="#6aa1ff"})">
            <div>3/12</div>
        </Col>
        <Col Flex="4" Style="@(new {Background="#2d6dff"})">
            <div>4/12</div>
        </Col>
        <Col Flex="5" Style="@(new {Background="#6aa1ff"})">
            <div>5/12</div>
        </Col>
    </Row>
</div>
