<h3>垂直布局</h3>

<p>垂直顶部对齐</p>
<div style="width:100%">
    <Row Align="ArcoDesign.Shared.Align.Start" Style="@(new {
        MarginBottom="40px",
        Height="120px",
        Background="#f2f3f5"
    })">
        <Col Span="6" Style="@(new { Background="#6aa1ff", Height="90px", LineHeight="90px"})">
            <div>col - 6</div>
        </Col>
        <Col Span="6" Style="@(new {Background="#2c6cfe", Height="48px", LineHeight="48px"})">
            <div>col - 6</div>
        </Col>
        <Col Span="6" Style="@(new {Background="#6aa1ff", Height="120px", LineHeight="120px"})">
            <div>col - 6</div>
        </Col>
        <Col Span="6" Style="@(new {Background="#2c6cfe", Height="60px", LineHeight="60px"})">
            <div>col - 6</div>
        </Col>
    </Row>
</div>


<p>垂直居中对齐</p>
<div style="width:100%">
    <Row Align="ArcoDesign.Shared.Align.Center" Style="@(new {
        MarginBottom="40px",
        BackgroundColor="#f2f3f5"
    })">
        <Col Span="6" Style="@(new { Background="#6aa1ff", Height="90px", LineHeight="90px"})">
        <div>col - 6</div>
        </Col>
        <Col Span="6" Style="@(new {Background="#2c6cfe", Height="48px", LineHeight="48px"})">
        <div>col - 6</div>
        </Col>
        <Col Span="6" Style="@(new {Background="#6aa1ff", Height="120px", LineHeight="120px"})">
        <div>col - 6</div>
        </Col>
        <Col Span="6" Style="@(new {Background="#2c6cfe", Height="60px", LineHeight="60px"})">
        <div>col - 6</div>
        </Col>
    </Row>
</div>


<p>垂直底部对齐</p>
<div style="width:100%">
    <Row Align="ArcoDesign.Shared.Align.End" Style="@(new {
        MarginBottom=40,
        BackgroundColor="#f2f3f5"
    })">
        <Col Span="6" Style="@(new { Background="#6aa1ff", Height="90px", LineHeight="90px"})">
            <div>col - 6</div>
        </Col>
        <Col Span="6" Style="@(new {Background="#2c6cfe", Height="48px", LineHeight="48px"})">
            <div>col - 6</div>
        </Col>
        <Col Span="6" Style="@(new {Background="#6aa1ff", Height="120px", LineHeight="120px"})">
            <div>col - 6</div>
        </Col>
        <Col Span="6" Style="@(new {Background="#2c6cfe", Height="60px", LineHeight="60px"})">
            <div>col - 6</div>
        </Col>
    </Row>
</div>